<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>coastcolour-processing</symbolicName>
    <version>1.8.2</version>
    <name>BEAM CoastColour Processing</name>

    <description>
        CoastColour processing applies to Envisat MERIS data over water and includes a radiometric correction
        and pixel classification (Level-1P processing), an atmospheric correction (Level-2R processing) and
        retrieval of water parameters (Level-2W processing).
    </description>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://www.coastcolour.org/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>ESA</funding>

    <changelog>
        <![CDATA[
        ]]>
    </changelog>

    <!-- BEAM dependencies -->

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>

    <!-- Other Operator dependencies -->

    <dependency>
        <module>beam-meris-radiometry</module>
    </dependency>

    <dependency>
        <module>beam-idepix-algorithms</module>
    </dependency>

    <dependency>
        <module>beam-meris-qaa</module>
    </dependency>

    <dependency>
        <module>beam-meris-icol</module>
    </dependency>

    <dependency>
        <module>beam-owt-classification</module>
    </dependency>

    <dependency>
        <module>beam-waterradiance-auxdata</module>
    </dependency>


    <categories>Processor,MERIS,CoastColour</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>coastcolour</id>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <text>MERIS CoastColour Processors ...</text>
            <shortDescr>
                The MERIS CoastColour Processors (Pre-Processing, Atmospheric Correction, and In-Water Processing)
            </shortDescr>
            <mnemonic/>
            <!--<parent>tool</parent>-->
            <parent>processing.thematicWater</parent>
            <helpID>CoastcolourPlugIn</helpID>
            <placeAfter/>
        </action>

        <action>
            <id>coastColourProcessingL1P</id>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <operatorName>CoastColour.L1P</operatorName>
            <text>CoastColour Pre-Processing and Pixel Classification...</text>
            <shortDescr>CoastColour Pre-Processing and Pixel Classification (L1P)</shortDescr>
            <dialogTitle>CoastColour Pre-Processing and Pixel Classification</dialogTitle>
            <targetProductNameSuffix>_L1P</targetProductNameSuffix>
            <mnemonic/>
            <parent>coastcolour</parent>
            <helpId>CoastcolourPlugIn</helpId>
        </action>
        <action>
            <id>coastColourProcessingL2R</id>
            <!--<class>org.esa.beam.visat.actions.DefaultOperatorAction</class>-->
            <class>org.esa.beam.coastcolour.processing.ui.L2RAction</class>
            <operatorName>CoastColour.L2R</operatorName>
            <text>CoastColour Atmospheric Correction...</text>
            <shortDescr>CoastColour Atmospheric Correction (L2R)</shortDescr>
            <dialogTitle>CoastColour Atmospheric Correction</dialogTitle>
            <targetProductNameSuffix>_L2R</targetProductNameSuffix>
            <mnemonic/>
            <placeAfter>coastColourProcessingL1P</placeAfter>
            <parent>coastcolour</parent>
            <helpId>CoastcolourPlugIn</helpId>
        </action>
        <action>
            <id>coastColourProcessingL2W</id>
            <!--<class>org.esa.beam.visat.actions.DefaultOperatorAction</class>-->
            <class>org.esa.beam.coastcolour.processing.ui.L2RAction</class>
            <operatorName>CoastColour.L2W</operatorName>
            <text>CoastColour In-Water Processing...</text>
            <shortDescr>CoastColour In-Water Processing (L2W)</shortDescr>
            <dialogTitle>CoastColour In-Water Processing</dialogTitle>
            <targetProductNameSuffix>_L2W</targetProductNameSuffix>
            <mnemonic/>
            <placeAfter>coastColourProcessingL2R</placeAfter>
            <parent>coastcolour</parent>
            <helpId>CoastcolourPlugIn</helpId>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/coastcolour.hs</path>
        </helpSet>
    </extension>

</module>
