<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>coastcolour-util</symbolicName>
    <name>COASTCOLOUR Utilities</name>
    <version>1.6.2</version>
    <description>
        This module provides utilities used in the context of COASTCOLOUR.
    </description>
    <packaging>jar</packaging>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <changelog/>

    <categories>COASTCOLOUR</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-csv-dataio</module>
    </dependency>

    <extension point="ceres-core:applications">
        <application id="RgbQuickLookGeneratorMain" class="org.esa.beam.coastcolour.util.RgbQuickLookGeneratorMain"/>
    </extension>

</module>