<module>
    <manifestVersion>1.0.0</manifestVersion>

    <symbolicName>coastcolour-util</symbolicName>
    <name>BEAM CoastColour Processing Utilities</name>
    <version>1.8.4</version>
    <description>
        This module provides software utilities used in the context of the CoastColour project.
    </description>
    <packaging>jar</packaging>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://www.coastcolour.org/</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <funding>ESA</funding>

    <changelog/>

    <categories>MERIS,CoastColour</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-csv-dataio</module>
    </dependency>

    <extension point="ceres-core:applications">
        <application id="RgbQuickLookGeneratorMain" class="org.esa.beam.coastcolour.util.RgbQuickLookGeneratorMain"/>
    </extension>

</module>