<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-owt-classification</symbolicName>
    <version>1.6.6-GLASS_SNAPSHOT</version>
    <name>MERIS Optical Water Type Classification</name>

    <description>
        Performs an optical water type classification based on atmospherically corrected reflectances.
    </description>

    <changelog>
        <![CDATA[
        Changes in 1.7<br/>
            New OWT types for GLASS
            Handling exceptions more gracefully<br/>
        Changes in 1.5<br/>
            Introduced parameter to distinguish input reflectances (RADIANCE_REFL or IRRADIANCE_REFL).<br/>
        Changes in 1.4<br/>
            Preliminary provided standalone jar.<br/>
        Changes in 1.3<br/>
            Renamed module and operator.<br/>
            Introduced different OWT types which change the classification.<br/>
        Changes in 1.2.1<br/>
            Updated dependency version of netcdf and Jama<br/>
                ]]>
    </changelog>

    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2014 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>

    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-netcdf</module>
    </dependency>
    <dependency>
        <module>beam-visat-rcp</module>
        <optional>true</optional>
    </dependency>

    <categories>Processing,MERIS</categories>

    <extension point="beam-ui:actions">
        <action>
            <id>owtClassification</id>
            <helpId>owtClassification</helpId>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <parent>processing.thematicWater</parent>
            <text>MERIS OWT Classification...</text>
            <mnemonic>O</mnemonic>
            <operatorName>OWTClassification</operatorName>
            <dialogTitle>Optical Water Type Classification</dialogTitle>
            <targetProductNameSuffix>_owt</targetProductNameSuffix>
        </action>
    </extension>

    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/owt.hs</path>
        </helpSet>
    </extension>


</module>
